

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/*
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
*/

.App-header,
.App-main,
.App-footer {
    padding-left: 10px;
    padding-right: 10px;
}


.App-header {
  background-color : F5F5F5;
  height : 10vh
}

.App-main {
  height: 81vh; /* Adjust this value as needed */
  background-color : F5F5F5;
}

.slide-menu {
  display : flex;
  overflow-x : auto;

}

.slide-item { 
  flex: 0 0 auto;
  margin-right:10px;
  padding:10px;
  border-radius:10px;
  background-color:skyblue;
}

.bottom-menu{
  margin-top:600px; /*임시 margin , 고정값이기 때문에 반응형으로 바꿔줘야함. -> 에러 해결 필요*/
  display : flex;
  justify-content : space-between;
}


.menu-item {

  color: #000;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.App-footer { 
  background-color : F5F5F5;
  height : 9vh
}


.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.alert{
  text-align : left;
  
}

.container small{
  text-align: left ;

}


#small{
  text-align : left;
  padding-left : 25px;
}

#signInContainer {
  padding-top : 35%;
  padding-bottom : 15%;
  padding-left:10%;
  padding-right:10%;

}

#test {
  text-align : left;

}

#signInForm{
  text-align : left;
  padding-left : 25px;
}


#signInSmall {
  text-align : right;
  

}


/* 반응형 디자인을 위한 코드, 테스트 필요 */
@media only screen and (max-width : 600px){
  .App-header, .App-footer {

  }
}


/* 메뉴가 열렸을 때 화면 전환 애니메이션 */
.App-footer.open {
  transform: translateY(-100%);
  transition: transform .3s ease-in-out;
}
