
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/*
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
*/


.App-header,
.App-main {
    padding-left: 2.4vw;
    padding-right: 2.4vw;
}



.App-home-header {
  background-color : F5F5F5;
  padding-top:1.5vh;
}

.App-main {
  height: 90vh;
  background-color : F5F5F5;
  text-align: center;
}



.slide-menu {
  display : flex;
  overflow-x : auto;
  padding-bottom:1vh;
  border-bottom : 0.5px solid #000000;
}

.write-button {
  position: absolute;
  right:-7%;
  bottom:7%;
  transform: translate(-50%, -50%);
  z-index: 10;
  background-color: #FF8C00;
  color: white;
  border: none;
  padding: 1vh 6vw;
  cursor: pointer;
  border-radius: 15px;
}

.group-start-button, .group-participate-button {
  border: none;
  color: white;
  border-radius: 10px;
  font-size: 3.5vw;
  width:20vw;
  height:3.5vh;
}

.article-item {
  position : relative;
  text-align: left;
  border-bottom: 1px solid #000000;
  padding: 0.5vh 0;
  padding-bottom:5.5vh;

  display: flex; /* Flexbox 레이아웃을 활성화 */
  justify-content: space-between; /* 자식 요소들을 양 끝으로 정렬 */
  align-items: center; /* 세로 방향 중앙 정렬 */
}

.article-item-summary{
  width:80vw;
}

.article-item-icons{
  padding-bottom:1.5vh;
  width:15vw;

}
.article-item-text {
    /* 내용의 최대 높이 설정. 1줄이 최대라고 가정함 */
    max-height: 1.6em; /* '1.6em'은 한 줄의 높이를 의미 */
  
    /* 넘치는 텍스트를 ...로 표시 */
    overflow: hidden;
    text-overflow: ellipsis;
    
    /* 넘치는 텍스트를 ...로 표시하기 위해 필요한 속성 */
    /*브라우저에 따라 적용되지 않을 수 있음*/
    display: -webkit-box;
    -webkit-line-clamp: 1; /* 몇 줄까지 표시할지 설정. 1줄로 설정함 */
    -webkit-box-orient: vertical;

    word-wrap: break-word;
    white-space:normal;

}

.article-item-details{
    position: absolute;
    bottom: 0;
    left: 0;

    padding-left:0.5vw;
    padding-bottom:1.15vh;

    display: flex;
    flex-direction: row; 
    align-items: center; 
}

.article-item-details > *:not(:last-child) {
  padding-right: 1vw;
}

.article-item-details > *:not(:last-child)::after {
  content: "|";
  margin-left: 1vw; 
}

.article-item-details * {
  display: flex;
  flex-direction: row; 
  align-items: center; 
}

.image-comment {
  width:1.5vh;
  height:1.5vh;
}

.comment-num {
  font-size: 1.4vh; 
  padding-left:1vw;
}

.image-group {
  width:1.9vh;
  height:1.9vh;
}

.article-item-details-group {
  display: flex;
  align-items: center; /* 세로 정렬을 중앙으로 맞춤 */
}

.group-num {
  font-size: 1.4vh; 
  padding-left:1vw;
}

.article-item-details-time{
  margin-left: -1vw;
  font-size: 1.4vh; 
  padding-left:1vw;
}

.article-item-details-nickName{
  margin-left: -1vw;
  font-size: 1.4vh; 
  padding-left:1vw;
}


#article-item-title{
  font-size: 3vh;
}
#article-item-content{
  font-size:2vh;
}

.comment-item{
  text-align:left;
  border-bottom:1px solid gray;
  padding-top:5px;
}

.preview { 
  /*max height를 동적으로 관리하는 방법 고려*/
  overflow-y: auto;
  padding-top:0.5vh;
}
.preview-home{
  /*height:700px;*/
}

.slide-item { 
  flex: 0 0 auto;
  margin-right:0.7vh;
  padding:1vh;
  border-radius:10px;
}

.dor-icon{
  font-size:3.7vw;
  border-radius:10px;
  padding:0.5vh;
  margin-right:2vw;
  flex: 0 0 auto;
}

.bottom-menu{
  display : flex;
  justify-content : space-between;
  position:fixed;
  bottom:0;
  width:100%;
  padding-bottom: 1vh;
  padding-top:0.5vh;
  border-top : 0.5px solid #000000;
}

.menu-item {
  color: #000;
  flex-grow: 0;
  display: flex;
  justify-content: center;
  align-items: center; 
  margin-top : 0.5vh;
  padding-left:6vw;
  padding-right:6vw;
  
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.alert{
  text-align : left;
}

.container small{
  text-align: left ;
}

#small{
  text-align : left;
  padding-left : 25px;
}

#signInContainer {
  padding-top : 35%;
  padding-bottom : 15%;
  padding-left:10%;
  padding-right:10%;
}

#test {
  text-align : left;
}

#signInForm{
  text-align : left;
  padding-left : 25px;
}


#signInSmall {
  text-align : right;
}

/* 반응형 디자인을 위한 코드  테스트 필요 */
@media only screen and (max-width : 600px){
  .App-header, .App-footer {
  }
}

/* 메뉴가 열렸을 때 화면 전환 애니메이션 */
.App-footer.open {
  transform: translateY(-100%);
  transition: transform .3s ease-in-out;
}

.separator {
  text-align: center;
  position: relative;
  margin: 10px 0 20px;
}

.separator::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 1px;
  background: #777;
}

.separator::after {
  content: '혹은';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 0 10px;
  font-size:15px;

}

.containerSelect{
  flex:1;
  margin:0 10px;
  outline:none;
}

.dorSelect{
  width:40%;
  outline:none;
}

.flexContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 80%;
  display: flex;
  justify-content: space-between;
  border: 1px solid #333333;
  border-radius: 10px;
}

.app-article-header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding-top: 2vh;
  padding-right: 2vw;
  padding-left: 2vw;
}

.app-article-main{
  padding-right:5%;
  padding-left:5%;
  align-items: left;
}
.app-article-footer{
  padding-right:2%;
  padding-left:2%;
  position:fixed;
  width:100%;
  bottom:0;
  padding-bottom:20px;
}
.article-title{
  word-wrap:break-word;
  overflow-wrap:break-word;
  white-space:normal;
}
.article-meta{
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  display: flex;
  justify-content:space-between;
}
.article-category, .article-appointedTime, .article-dormitory{
  position:relative;
  top:5px;
  font-size:16px;
}

.flexContainer button {
  width:auto;
  height:auto;
}

.selects{
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding :5px 7%;
}

#dropdown-item-button{
  color:#777;
  font-weight:bold;
  background-color:white;
}
.dropdown-item{
  padding:0.0vh;
  padding-left:3vw;
  padding-right: 3vw;
  font-size: 0.9rem; 
  background-color: transparent !important;
  
}

.dropdown-item:focus,
.dropdown-item:active {
  background-color: transparent !important;
  color: inherit !important;
  box-shadow: none !important;
}

.nested-dropdown-toggle{
  background-color: transparent !important;
}

.nested-dropdown-item-container{
  display: flex ;
  justify-content: space-between ;
  align-items: center ;
}


.rounded-image {
  width: 50px;  
  height: 50px; 
  object-fit: cover;  /* 이미지 비율을 유지하면서 프레임에 맞게 조절합니다 */
  border:1px solid #000;
}


.article-info{
  display:flex;
  justify-content:flex-start;
}

.article-info-detail{
  display:flex;
  flex-direction: column;
  padding-left:10px;
}
.article-info-detail p {
  margin:0px;
}
.article-info-right{
  margin-left: auto;
  padding-top:2vh;
}

.article-body{
  padding-top:5px;
}
.article-title{
  font-size:24px;
}
.article-content{
  font-size:16px;
  padding-top:5px;
  word-wrap:break-word;

  max-height: 65vh;
  overflow-y: auto;

}

.toast-position{
  top:2rem !important;
}

.comment-submit{
  padding-left:5px;
  padding-bottom:0px;
  display:flex;
  align-items: center;
}

.comment-submit .MuiIconButton-root {
  color: #FF8C00;
}

.comment-list{
  padding-top:10px;
}

.comment-item-header{
  display:flex;
  justify-content:space-between;
  padding-bottom:5px;

}


.comment-menu {
  display: flex;
  justify-content: space-between;
  width: 140px; /* 메뉴의 너비를 조절하세요. */
  height:30px;
  padding: 10px;
  border-radius: 10px; /* 모서리 둥근 정도를 조절하세요. */
  background-color: #f0f0f0; 
}

.comment-menu-item{
  display:flex;
  align-items: center;
  cursor:pointer;

}
.comment-item.reply{
  margin-left:20px;
  border-bottom:none;
  background-color: #f8f8f8;
}

.App-myWritingPage-header{
  /*align-items:center;*/
  display:flex;
  justify-content:space-between;

  padding-top: 3vh;
  padding-right: 2vw;
  padding-left: 2vw;
}

.App-myGroupPage-header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  
  padding-top: 2vh;
  padding-right: 2vw;
  padding-left: 2vw;
}

.App-myWritingPage-main{
  padding-top:1vh;
  padding-right: 2.4vw;
  padding-left: 2.4vw;
}

.App-myGroupPage-main{
  padding-top:1vh;
  padding-right: 1.2vw;
  padding-left: 1.2vw;
}

.group-messages{
  max-height: 85vh;
  overflow-y: auto;
}
.group-form{
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items:center;
  width:100%;
  padding-right:3vw;
  padding-bottom: 1vh;
  
}

.myWritingPage-main-text{
  font-size:3vh;
  padding-bottom:1vh;
}

.App-postingPage-header{
  display:flex;
  justify-content:space-between;
  
  padding-top:3vh;
  padding-left:2vw;
  padding-right:2vw;
}

.App-postingPage-main{
  height:84.5vh;
  background-color : F5F5F5;
  text-align: center;
}

.App-notificationPage-header{
  display:flex;
  justify-content:space-between;
  /*align-items:center;*/

  padding-top:3vh;
  padding-left:2vw;
  padding-right:2vw;
}

.App-notificationPage-main{
  padding-top:1vh;
}

.notificationPage-main-text{
  font-size:3vh;
  padding-bottom:1vh;
  padding-left:4vw;
}

.noti-item{
  display: flex;
  align-items: center;
  padding-top: 2vh;
  padding-right:4.5vw;
  padding-left:4vw;
}

.noti-item-icon{
  margin-right:3vw;
}

.noti-item-content {
  flex-grow: 1; /* 남은 공간을 차지 */
  overflow: hidden; /* 넘치는 텍스트를 숨김 */
  display: -webkit-box;
  -webkit-line-clamp: 2; /* 최대 2줄로 제한 */
  -webkit-box-orient: vertical;
  line-clamp: 2; /* 최대 2줄로 제한 */
  box-orient: vertical;
  text-overflow: ellipsis; /* 넘치는 텍스트를 '...'으로 표시 */
  word-wrap: break-word; /* 단어가 너무 길면 줄 바꿈 */
  word-break: break-all; 
}

.noti-item-time {
  margin-top: 0.5vh; /* 필요에 따라 조정 */
  font-size: 0.9em; /* 필요에 따라 조정 */
  color: #888; /* 필요에 따라 조정 */
}

.myPage-profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 3vh;
}

.profile-image {
  padding-left:25vw;
  transform: translateX(-50%); /* 요소의 중앙을 기준으로 정렬 */
}

.profile-image img {
  width:25vw;
  height: auto;
}

.profile-details {
  display:flex;
  flex-direction: column;
  gap:3vh;
}

.details-nickName, .details-dormitory {
  text-align: center;
  font-size: 4vw; /* 원하는 글자 크기로 설정 */
}

.App-header-myPage{
  padding-top: 2vh;
  padding-right: 2vw;
  padding-left: 2vw;
}

.App-main-myPage{
  padding-right:5vw;
  padding-left:5vw;
}

.myPage-info > div {
  border-top: 1px solid #000;
  padding-bottom: 1.5vh;
  padding-top:1.5vh;
}

.account-id,
.account-eMail,
.account-changePassWord,
.community-restrictionDetails,
.community-guide,
.etc-inquiry,
.etc-logOut,
.etc-deleteAccount,
.account-changeDormitory
 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.75vh;
  padding-bottom:0.75vh;
}

.info-writings{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info-title{
  font-size: 6vw;
}

/* 모달 관련 스타일 ~ */
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  transition: opacity 0.3s ease;
}

.modal-content {
  position: relative;
  width: 95%;
  max-height: 80%;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  overflow-y: auto;
}

.closeBtn {
  color: #aaa;
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.closeBtn:hover,
.closeBtn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-title{
  font-size:28px;
  padding-bottom: 1vh;
}


.modal-main{

}
.modal-container{
  display:flex;
  flex-direction: column;
  padding-bottom: 1vh;
  gap:0.5vh;
}

.modal-container-title{
  font-size: 13px;
}

.modal-alternative-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5vw;
}

.modal-alternative-buttons button {
  flex: 1;
}


.modal-restriction-entry{
  font-size: 1.5vh;
}

.scrollable{
  max-height: 50vh; 
  overflow-x: hidden; 
  overflow-y: auto;
}

/* ~ 모달 관련 스타일 */

.form-control:focus {
  border-color: #FFA07A; 
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 160, 122, 0.6); 
}

.btn-primary{
  background-color: #FF8C00 !important ;
  border-color: rgba(255, 140, 92, 0.6) !important ;
  width: 100%;
}

.btn-secondary{
  background-color: #808080 !important;
  border-color: rgba(149, 149, 173, 0.6) !important ;
  width: 100%;
}

textarea::-webkit-scrollbar { display: none; }